h1{
  color: grey;
  margin-left: 100px;

}
body{
  background-color: #d5abe3;
}


form{
margin-left: 100px;font-size: 45px;
float: left;
}
img{
  height: 400px;width: 50%;float: right;
}
.entire{
  width: 700px;
}
